body {
    width: 750px;
    height: auto;
    font-size: 30px;
    margin-left: auto;
    margin-right: auto;
    font-family: sans-serif;

}

.border {
    background-color: #2D7053;
    height: 235px;
    padding-left: 38px;
    display: flex;

}

.boll {
    border-radius: 100px;
    background-color: #ffffff;
    float: left;
    height: 141px;
    width: 141px;
    margin-top: 47px;
    

}
.sub{
    list-style-type: none;
    margin-left: 58px;
    margin-top: 52px;
    color: #FFFFFF;
}

.menu {
    float: right;
    width: 84px;
    height: 68px;
    color: #ffffff;
    margin-top: 84px;
    margin-right: 44px;
    display: grid;
    align-content: space-between;
    justify-content: end;
    margin-left: 25%;

}
.line {
    width: 84px;
    height: 12px;
    background-color: #ffffff;
    border-radius: 15px;
    float: right;
    margin-bottom: 16px;
}

.photo{
    background-image: url(/trening/img/0325115cfca2f08bd19529e1d4a4396a@1X.png);
    position: relative;
    height: 466px;
    align-items: center;
    justify-content: center;


}

.shadow {
    width: 741px;
    height: 445px;
    background-color: black;
    opacity: 35%;
    position: relative;
    left: 9px;
    top: 0;

}

.btm1 {
    position: absolute;
    left: 205px;
    bottom: 47px;
    height: 74px;
    width: 341px;
    background-color: #cb9223;
    text-align: center;
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;

}

.btm1 a {
    color: #f8f2e9;
    font-size: 20px;
    text-decoration: none;

}

.main {
    height: 400px;
}
.main img {
    float: left;
    margin-top: 85px;
    margin-left: 35px;
    border-radius: 50%;
    height: 247px;
    width: 247px;
    font-size: 36px;

}

.main p {
    float: right;
    width: 375px;
    font-size: 24px;

}

.name {
    margin-top: 151px;
}

.pract {
    font-size: 22px;
    margin-left: 22px;
    width: 595px;
    height: 166px;
    margin-left: 35px;
}

.letter {
    margin-top: 46px;
    margin-left: 36px;
    opacity: 1;
}

.pr {
    list-style-type: none;
    font-size: 24px;
}

.btm2 {
    position: relative;
    left: 205px;
    bottom: 47px;
    height: 74px;
    width: 341px;
    background-color: #cb9223;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 91px; 
}

.btm2 a {
    color: #f8f2e9;
    font-size: 20px;
    text-decoration: none;
}

.foot {
    width: 750px;
    height: 153px;
    background-color: #888888;
    margin-top: 30px;
}

.boll2 {
    border-radius: 100px;
    background-color: #ffffff;
    float: left;
    height: 96px;
    width: 96px;
    margin-top: 29px;
    margin-top: 28px;
    margin-left: 45px;
}

.adress { 
    text-align: center;
    color: #ffffff;
    font-size: 18px;
    float: left;
    margin-left: 160px;
    margin-top: 100px;
    width: 199px;
    height: 17px;
}

.tel {
    color: #ffffff;
    text-decoration: none;
    padding-top: 35px;  
}

.tel a {
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    padding-left: 60px;
}

.mail {
    width: 144px;
    height: 17px;
    float: right;
    margin-top: 30px;
    font-size: 18px;
    text-decoration: none;
    margin-right: 44px;
}

.mail a {
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;

}